# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django-specific
*.log
db.sqlite3
.env
*.pot
*.pyc
*.pyo
*.pyd
instance/
.webassets-cache
staticfiles/
media/

# VS Code
.vscode/

# MacOS
.DS_Store

# Virtualenv
venv/
ENV/
env/
*.egg-info/

# Node.js (if you're using npm or yarn for CSS/JS tools)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/
